table, th, td {
  border: 2px solid #fcfbfb;
  border-collapse: collapse;
  border-radius: 10px;
}
th, td {
  padding: 15px;
  background-color: #bbefedb4;
}

/* The Box Model */
div {
  background: red;
  height: 50px;
  width: 300px;
  /* display: inline;/ */
  display: inline-block;
}

span {
  background: lightblue; height: 50px;
  width: 300px;
  /* display: block; */
  display: inline-block;
}

/* box model values  */
.container {
  width: 1000px;
}

.inside-container {
  width: 50%; /*500px*/
}
